.template-buttons-container {
    text-align: center;
}

.template-card-cols {
    padding-right: 4px;
    padding-left: 4px;
}

.group-header-template-cards {
    color: gray;
    margin-left: 10px;
    width: 97%;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(5deg); }
    40% { transform: rotate(0deg); }
    60% { transform: rotate(-5deg); }
    80% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}

#template-deletion-icon.wiggle {
    animation: wiggle 0.3s linear infinite;
}
