#pipeline-builder-container {
    width: 100%;
    height: 12vh;
    background-color: red;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(5deg); }
    40% { transform: rotate(0deg); }
    60% { transform: rotate(-5deg); }
    80% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}

#pipeline-deletion-icon.wiggle {
    animation: wiggle 0.3s linear infinite;
}
