.sidebar {
  height: 100vh;
  display: flex;
  font-family: "Roboto", sans-serif;
}

.bottombar {
    height: 100vw;
    font-family: "Roboto", sans-serif;
}

.dashboard-content {
    width: 95vw;
    margin: 10px;
    padding: 10px;
}

.link {
  text-decoration: none;
  color: var(--text-color-primary);
}

.link-bottombar {
    text-decoration: none;
}

#data-page-header > * {
    margin: 0 10px 0 10px;
}

