@keyframes wiggle {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(5deg); }
    40% { transform: rotate(0deg); }
    60% { transform: rotate(-5deg); }
    80% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}

#operation-deletion-icon.wiggle {
    animation: wiggle 0.3s linear infinite;
}
