:root {
    --text-color-primary: #000000;
    --text-color-secondary: #DBE2EF;
    --text-color-info: #F9F7F7;
    --dark-main: #42a5f5;
    --grey-main: rgba(0, 0, 0, .03);
    --light-main: #ffffff;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}
