.react-flow-container {
    margin: 0;
    padding: 0;
}

.dialog-content {
    border: #d2d2d2 1px solid;
    border-raduis: 5px;
    margin: 0 !important;
    padding: 0 !important;
}

.dialog-content-description {
    margin-bottom: 10px;
    padding: 20px;
}
